<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">

    <link href="/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
    <!-- Style css -->
    <link href="/css/style-Dash.css" rel="stylesheet">

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>
<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>

<body>



    <div id="main-wrapper">
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                Acutalizar Placa
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item">
                                <div class="input-group search-area">
                                    <input type="text" class="form-control" placeholder="Buscar...">
                                    <span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="btn btn-primary d-sm-inline-block d-none">Generar Reporte<i class="las la-signal ms-3 scale5"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>



        <div id="sidebar-container"></div>


        <div class="content-body">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="container">
                    <form id="editPlaca" method="put" enctype="multipart/form-data">
                        <div class="row">
                            <input type="hidden" name="id_placa" id="id_placa">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Placa</label>
                                    <input type="text" class="form-control" id="placa" name="placa" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Eje</label>
                                    <input type="text" class="form-control" id="eje" name="eje" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Tipologia</label>
                                    <input type="text" class="form-control" id="tipologia" name="tipologia" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Propietario</label>
                                    <select id="id_aliado" name="id_aliado" class="form-control" required>
                                    <option value="">Seleccione una Opción</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-10 d-flex justify-content-between">
                                <button class="btn btn-primary" id="BtnEditPlaca">Enviar</button>
                                <a class="btn btn-primary" href="/view/placa/create.html">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="placaEdit"></div>
            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/Componentes/sidebar.js"></script>
            <script src="/js/login/logout.js"></script>

            <!-- Required vendors -->
            <script src="/vendor/global/global.min.js"></script>
            <script src="/vendor/chart.js/Chart.bundle.min.js"></script>
            <script src="/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Apex Chart -->
            <script src="/vendor/apexchart/apexchart.js"></script>
            <script src="/vendor/nouislider/nouislider.min.js"></script>
            <script src="/vendor/wnumb/wNumb.js"></script>

            <!-- Dashboard 1 -->
            <script src="/js/dashboard/dashboard-1.js"></script>

            <script src="/js/custom.min.js"></script>
            <script src="/js/dlabnav-init.js"></script>
            <script src="/js/demo.js"></script>
            <script src="/js/styleSwitcher.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
            <script type="text/javascript" src="/js/placa/editPlaca.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarAliados.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>