<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

     <!-- ag-grid -->
     <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
     <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
</head>

<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>


<body>


    <div class="header">
        <div class="title-container">
            <div class="circle"></div>
            <h1 class="title">CREAR ORDEN DE CARGUE</h1>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="margenform">
            <div id="content" class="p-4 p-md-0 pt-5">
                <div class="container-fluid main-container">
                    <form id="createOrdenCargue" method="post" enctype="multipart/form-data" class="form">
                        <p class="message">Complete los campos para crear una nueva orden de cargue.</p>
                        <div class="flex">
                            <label>
                                <input type="date" class="input" id="fecha_solicitud" name="fecha_solicitud" required>
                                <span>Fecha de Solicitud</span>
                            </label>
                            <label>
                                <input type="text" id="id_placa" name="id_placa" placeholder="Digite la placa" required>
                                <span>Placa</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="text" id="id_cliente" name="id_cliente" placeholder="Digite el cliente" required>
                                <span>Cliente</span>
                            </label>
                            <label>
                                <!-- <select id="id_conductor" name="id_conductor" class="input" required>
                                    <option value="">Seleccione una Opción</option>
                                </select> -->
                                <input type="text" id="id_conductor" name="id_conductor" placeholder="Digite el conductor">
                                <span>Conductor</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <select id="modalidad" name="modalidad" class="input" required>
                                    <option value="">Seleccione una Opción</option>
                                    <option value="IMPORTACION">IMPORTACIÓN</option>
                                    <option value="EXPORTACION">EXPORTACIÓN</option>
                                </select>
                                <span>Modalidad</span>
                            </label>
                            <label>
                                <select id="id_tipo_operacion" name="id_tipo_operacion" class="input">
                                    <option value="">Seleccione una Opción</option>
                                </select>
                                <span>Tipo de Servicio</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="text" class="input" id="id_sitio_inspeccion" name="id_sitio_inspeccion" >
                                <span>Destino 1</span>
                            </label>
                            <label>
                                <input type="text" class="input" id="id_sitio_inspeccion1" name="id_sitio_inspeccion1" >
                                <span>Destino 2</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="text" class="input" id="id_sitio_inspeccion2" name="id_sitio_inspeccion2" >
                                <span>Destino 3</span>
                            </label>
                            <label>
                                <select id="id_naviera" name="id_naviera" class="input" required>
                                    <option value="">Seleccione una Opción</option>
                                </select>
                                <span>Naviera</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="text" class="input" id="contenedor" name="contenedor" maxlength="11" required>
                                <span>Contenedor</span>
                            </label>
                            <label>
                                <select id="id_tipo_contenedor" name="id_tipo_contenedor" class="input" >
                                    <option value="">Seleccione una Opción</option>
                                </select>
                                <span>Tipo de Contenedor</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="number" step="0.01" class="input" id="peso" name="peso">
                                <span>Peso</span>
                            </label>
                            <label>
                                <input type="text" class="input" id="funcionario_transporte" name="funcionario_transporte">
                                <span>Funcionario de Transporte</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="text" class="input" id="precinto" name="precinto">
                                <span>Precinto</span>
                            </label>
                            <label>
                                <input type="date" class="input" id="vencimiento_cutoff" name="vencimiento_cutoff">
                                <span>Vencimiento Cut Off</span>
                            </label>
                        </div>
                        <div class="flex">
                            <label>
                                <input type="time" class="input" id="hora_soli" name="hora_soli">
                                <span>Hora de Solicitud</span>
                            </label>

                            <label>

                                 <select name="lleno_vacio" id="lleno_vacio" class="input" >
                                    <option value="">Seleccione Opción</option>
                                    <option value="LLENO">LLENO</option>
                                    <option value="VACIO">VACIO</option>
                                 </select>
                                <span>Vacio o Lleno</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="full-width">
                                <textarea class="input" id="observaciones" name="observaciones" rows="3"></textarea>
                                <span>Observaciones</span>
                            </label>
                        </div>
                        <div class="submit-container">
                            <button class="submit" id="BtnSavePlaca">Enviar</button>
                        </div>
                        <p class="signin"><a href="/view/preventas/index.html">Volver</a></p>
                    </form>
                </div>
            </div>
        </div>

        <!-- QR Code Modal -->
        <div class="modal" id="qrModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">QR - Orden de Cargue</h5>
                    </div>
                    <div class="modal-body" id="qrcode" style="text-align: center;"></div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" id="downloadQR">Descargar QR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/login/logout.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>


    <script src="/js/custom.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script type="text/javascript" src="/js/patio/create.js"></script>
    <script type="text/javascript" src="/js/cargar/cargarPlaca.js"></script>
    <script type="text/javascript" src="/js/cargar/cargarClientes.js"></script>
    <script type="text/javascript" src="/js/cargar/cargarConductores.js"></script>
    <script type="text/javascript" src="/js/cargar/cargarTipoServicio.js"></script>
    <script type="text/javascript" src="/js/cargar/cargarNaviera.js"></script>
    <script type="text/javascript" src="/js/cargar/CargarTipoContenedor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- AG:grid -->
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@32.1.0/dist/ag-grid-charts-enterprise.js?t=1724946077050"></script>
</body>

</html>