<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">

    <link href="/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
    <!-- Style css -->
    <link href="/css/style-Dash.css" rel="stylesheet">


    <link href="/css/pages.css" rel="stylesheet" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>

<body>




    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">CREAR ALIADO</h1>
            </div>
        </div>



        <div class="content-body">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="container">
                    <form id="" method="" enctype="multipart/form-data">
                        <input type="hidden" id="id_contenedor" name="id_contenedor" class="form-control" readonly>
                        <input type="hidden" id="id_cliente" class="form-control" readonly>
                        <input type="hidden" id="imp_exp" class="form-control" readonly>

                    </form>
                </div>
            </div>

            <div class="container-a">
                <div id="cargarExpoEs" style="display: none;"></div>
            </div>

            <div class="container-a">
                <div id="cargarImpoEs" style="display: none;"></div>
            </div>


            <script src="/Componentes/sidebar.js"></script>
            <script src="/js/login/logout.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Required vendors -->
            <script src="/vendor/global/global.min.js"></script>
            <script src="/vendor/chart.js/Chart.bundle.min.js"></script>
            <script src="/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Apex Chart -->
            <script src="/vendor/apexchart/apexchart.js"></script>
            <script src="/vendor/nouislider/nouislider.min.js"></script>
            <script src="/vendor/wnumb/wNumb.js"></script>



            <script src="/js/custom.min.js"></script>
            <script src="/js/dlabnav-init.js"></script>




            <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
            <script type="text/javascript" src="/js/asignacion/asignacionEsenttia.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarPreventaEsenttia.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarRutaEsenttia.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarTipoServicio.js"></script>
            <script type="text/javascript" src="/js/cargar/cargarDestino.js"></script>
            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>