@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    position: relative;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
    z-index: 0; /* Asegurar que el z-index sea menor que el del header */
    background: url('img/IMG_8988.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
}

.hero .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 15s infinite;
    z-index: 1;
}

.hero .slide {
    width: 33.3333%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Ajustar opacidad según sea necesario */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.304);
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.hero-content .messages {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
}

.hero-content .message {
    width: 33.3333%;
    flex-shrink: 0;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 24px;
    color: #00aaff;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content .underline {
    width: 50px;
    height: 3px;
    background-color: red;
    margin: 0 auto;
    margin-top: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-33.3333%);
    }
    66% {
        transform: translateX(-33.3333%);
    }
    73% {
        transform: translateX(-66.6666%);
    }
    100% {
        transform: translateX(-66.6666%);
    }
}
