/* styles.css */

.modalauditor {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Centrado del modal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalauditor-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ajusta el ancho según tus necesidades */
    max-width: 500px;
    /* Limita el ancho máximo para pantallas grandes */
    text-align: center;
    /* Centra el texto dentro del modal */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra sutil */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnIniciarSesion {
    background-color: #007bff;
    /* Color de fondo azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnIniciarSesion:hover {
    background-color: #0056b3;
    /* Color de fondo azul más oscuro al pasar el mouse */
}

#menu-items-container {
    overflow-y: auto;
    /* Habilita el scroll vertical */
    max-height: 400px;
    /* Ajusta la altura máxima según tus necesidades */
}

#sidebar {
    height: 0;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

#sidebar.open {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    /* Color negro con transparencia */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /* Aumentar la altura del header */
    z-index: 1000;
}

.logo {
    padding-left: 15px;
    cursor: pointer;
    height: 60px;
    /* Ajustar el tamaño del logo según la nueva altura del header */
}

.logo1 {
    padding-left: 50px;
    cursor: pointer;
    height: 80px;
    /* Ajustar el tamaño del logo según la nueva altura del header */
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    flex-grow: 1;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
    /* Ajustar el relleno para el espaciado */
}

nav ul li a.active::after {
    content: '';
    display: block;
    width: 20px;
    /* Ajustar el ancho para una subraya más corta */
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 50%;
    /* Centrar la subraya */
    transform: translateX(-50%);
}

.logout-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #00aaff;
    margin-top: 10%;
    margin-left: 10%;
    padding: 18px 22%;
    /*Ajustarelrellenoparaelespaciado*/
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
    flex-shrink: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.logout-link:hover {
    background-color: #007acc;
    transform: translateY(-2px);
}

.profile-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #00aaff;
    padding: 25px 30px;
    /* Ajustar el relleno para el espaciado */
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
    flex-shrink: 0;
}

.profile-link:hover {
    background-color: #007acc;
    transform: translateY(-2px);
}


/* Estilos para el sidebar */

.dlabnav {
    position: fixed;
    top: 80px;
    /* Debajo del header */
    left: 0;
    width: 280px;
    height: 0;
    /* Inicia cerrado */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    /* Color negro con transparencia */
    z-index: 900;
    /* Asegúrate de que el z-index sea menor que el del header */
    transition: height 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.dlabnav.open {
    height: calc(100% - 80px);
    /* Abierto completamente */
}

.dlabnav-scroll {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}

.dlabnav-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}


/* Estilos para el menú */

#menu {
    list-style: none;
    padding: 0px 0;
    margin: 0;
}

#menu li {
    padding: 5px 20px;
    transition: background-color 0.3s, transform 0.3s;
}

#menu li a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 5px;
    border-radius: 8px;
    /* Bordes redondeados */
}

#menu li a .nav-text {
    margin-left: 10px;
}

#menu li a i {
    font-size: 20px;
    /* Tamaño de los iconos */
    margin-right: 10px;
    color: #00aaff;
    /* Color de los iconos */
}

#menu li a:hover {
    background-color: rgba(52, 73, 94, 0.8);
    /* Fondo más oscuro al pasar el ratón */
    transform: translateX(5px);
    /* Desplazamiento a la derecha al pasar el ratón */
}

#menu li.active>a {
    background-color: #2980b9;
    font-weight: bold;
    /* Texto en negrita para el elemento activo */
    border-radius: 8px;
}

#menu .dropdown>ul {
    display: none;
    padding-left: 20px;
}

#menu .dropdown.open>ul {
    display: block;
}

.margenform {
    padding-top: 90px;
}


/* Estilos generales */

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para la sección de características */

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #eaeaea;
}

.feature {
    flex: 1;
    margin: 5px;
    background-color: #00aaff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.feature a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.feature a:hover {
    background-color: #007acc;
    color: #fff;
    transform: translateY(-5px);
}

.feature i {
    font-size: 30px;
    color: #FF0041;
    margin-bottom: 0px;
}

.feature h3 {
    margin-top: 10px;
    font-size: 24px;
}

.feature p {
    font-size: 14px;
}

.footer-logo {
    display: block;
    margin: 20px auto;
    height: 50px;
    opacity: 0.5;
}


/* Estilos para la tabla */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.128);
    border-radius: 5px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #00aaff;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
}

table tbody tr {
    transition: background-color 0.3s;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}


/* Estilos para la búsqueda */

input[type="search"] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="search"]:focus {
    border-color: #00aaff;
    outline: none;
}


/* Estilos para los campos de formulario */

select,
input[type="text"],
button {
    padding: 10px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: border-color 0.3s, background-color 0.3s;
}

select:focus,
input[type="text"]:focus {
    border-color: #00aaff;
    outline: none;
}

button {
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #007acc;
    transform: translateY(-2px);
}