/* CSS existente */
.vehicle-count h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
}

.vehicle-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-wrapper {
    text-align: center;
    background: #ffffff2d;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 100px;
}

.icon-wrapper .fa-car,
.icon-wrapper .fa-bus,
.icon-wrapper .fa-motorcycle {
    font-size: 48px;
}

.icon-wrapper .count {
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-top: 5px;
}

.icon-wrapper .state {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-top: 5px;
}

/* Añadir esto al final del archivo */
.charts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-item {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehicle-count {
    flex: 1 1 100%; /* Ocupar toda la fila */
    text-align: center;
}

.vehicle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.vehicle-icon i {
    font-size: 50px;
    color: #007BFF;
    margin-right: 10px;
}

.vehicle-icon span {
    font-size: 40px;
    font-weight: bold;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#dateFilter {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

#filterButton {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#filterButton:hover {
    background-color: #007acc;
    transform: translateY(-2px);
}



/* NOTIFICACIONES */
.semaforo-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.notification {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row; /* Asegura que el ícono y el texto estén en la misma fila */
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-header {
    display: flex;
    align-items: center;
}

.notification i {
    margin-right: 10px;
    font-size: 24px; /* Tamaño del ícono */
}

.notification .icon {
    display: flex;
    align-items: center; /* Asegura que el icono y el texto estén alineados verticalmente */
}

.notification.basic {
    background-color: #4CAF50; /* Verde más suave */
}

.notification.medium {
    background-color: #ffcc31; /* Amarillo */
    color: rgb(255, 255, 255); /* Mayor contraste */
}

.notification.high {
    background-color: #F44336; /* Rojo */
}

.notification:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}

/* Colores específicos para exportación e importación */
.semaforo-container.export .notification {
    background-color: #0073FF;
}

.semaforo-container.import .notification {
    background-color: #FF0041;
}

/* Animación de parpadeo desactivada para una apariencia más limpia */
.notification {
    animation: none;
}

/* Desactivar efecto de latencia dentro del modal */
.modal .notification {
    animation: none;
}

/* Modal */
.modal {
    padding: 25px;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 0px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    text-align: center; /* Centramos el título del modal */
    width: 100%;
    padding-bottom: 50px;
}

/* Asegurar que las notificaciones dentro del modal estén alineadas correctamente */
#modalBody .notification {
    flex-direction: column;
    align-items: flex-start;
}

.notification-detail {
    margin: 0; /* Eliminamos el margen entre elementos del mismo SP */
    padding: 0; /* Eliminamos el padding entre elementos del mismo SP */
}

.notification-details {
    border-top: 4px solid #dddddd48;
    padding-top: 0px; /* Reducimos el padding superior */
    margin-top: 0px; /* Reducimos el margen superior */
    margin-bottom: 0px; /* Añadimos un margen inferior para separar diferentes SP */
}

.notification-separator {
    border-bottom: 2px solid #cccccc91;
    margin: 5px 0;
}

/* NOTIFICACIONES */

/* Asegurar que los gráficos se ajusten adecuadamente en pantallas más pequeñas */
@media (max-width: 768px) {
    .chart-item {
        flex: 1 1 100%;
    }
    .vehicle-count {
        flex: 1 1 100%;
    }
}
