<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>

    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- ag-grid -->
     <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
     <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
</head>

<<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<body>
    <div id="main-wrapper"></div>
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">CREAR FREEPOOL</h1>
            </div>
        </div>

        <div class="margenform">
            <div class="container">
                <div class="form-container">
                    <form id="saveContenedor" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id_solicitud_servicio" id="id_solicitud_servicio">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Sp</label>
                                    <select name="id_solicitud_servicio" id="id_solicitud_servicio" class="form-control">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Tipo Contenedor</label>
                                    <select name="id_tipo_contenedor" id="id_tipo_contenedor" class="form-control">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Numero Contenedor</label>
                                    <input type="text" id="nu_serie" name="nu_serie" class="form-control">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Tara</label>
                                    <input type="text" id="tara" name="tara" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Payload</label>
                                    <input type="text" id="payload" name="payload" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label">Peso</label>
                                    <input type="text" id="peso" name="peso" class="form-control">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-primary" onclick="history.back()">Volver</button>
                                <button type="submit" class="btn btn-primary" id="BtnSave">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


            <div class="container">
                <div id="freepool" class="ag-theme-alpine" style="height: 400px; width: 100%;"></div>
            </div>



            <script src="/Componentes/sidebar.js"></script>
            <script src="/js/login/logout.js"></script>
            <script src="/js/custom.min.js"></script>
            <script src="/js/frepool/createFreepool.js"></script>
            <script type="text/javascript" src="/js/cargar/CargarTipoContenedor.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/ag-grid-charts-enterprise@32.1.0/dist/ag-grid-charts-enterprise.js?t=1724946077050"></script>
</body>
</html>