<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
</head>
<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>

<body>


    <div class="header">
        <div class="title-container">
            <div class="circle"></div>
            <h1 class="title">SOLICITUD DE SERVICIO</h1>
        </div>
    </div>

    <div class="margenform">
        <div id="content" class="p-4 p-md-0 pt-5">
            <div class="container-fluid main-container">
                <form id="saveSolicitud" method="POST" enctype="multipart/form-data" class="form">
                    <p class="message">Complete los campos para crear una nueva solicitud de servicio.</p>
                    <input type="hidden" id="id_contenedor" name="id_contenedor">
                    <p id="ultimoRegistro"></p>
                    <div class="flex">
                        <label>
                            <input type="text" id="id_cliente" name="id_cliente" placeholder="Digite el cliente"  required>
                            <span>Cliente</span>
                        </label>
                        <label>
                            <input type="text" id="do_pedido" name="do_pedido" class="input" required>
                            <span>Do Pedido</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label>
                            <input type="number" name="cantidad_contenedor" id="cantidad_contenedor" class="input" required>
                            <span>Cantidad de Contenedores</span>
                        </label>
                        <label>
                            <select name="imp_exp" id="imp_exp" class="input" required>
                                <option value="">Seleccione Servicio</option>
                                <option value="importacion">Importación</option>
                                <option value="exportacion">Exportación</option>
                            </select>
                            <span>Modalidad</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label>
                            <input type="date" name="fecha_eta" id="fecha_eta" class="input" required>
                            <span>Elija Fecha Eta</span>
                        </label>
                        <label>
                            <input type="date" name="fecha_levante" id="fecha_levante" class="input" required>
                            <span>Fecha Levante</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label>
                            <input type="date" name="fecha_documental" id="fecha_documental" class="input" required>
                            <span>Fecha Documental</span>
                        </label>
                        <label>
                            <input type="date" name="bodegaje_hasta" id="bodegaje_hasta" class="input" required>
                            <span>Fecha Bodegaje Hasta</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label>
                            <input type="date" name="fecha_cutoff_fisico" id="fecha_cutoff_fisico" class="input" required>
                            <span>Fecha Cutoff Fisico</span>
                        </label>
                        <label>
                            <input type="date" name="libre_hasta" id="libre_hasta" class="input" required>
                            <span>Fecha Libre Hasta</span>
                        </label>
                    </div>

                    <div class="flex">
                        <label>
                                <select name="id_naviera" id="id_naviera" class="input" required>
                                    <option value="">Seleccione naviera</option>
                                </select>
                                <span>Naviera</span>
                            </label>

                        <label>
                            <input type="date" name="fecha_propuesta" id="fecha_propuesta" class="input" required>
                            <span>Fecha de Programación</span>
                        </label>
                    </div>
                    <div class="flex">
                        <label>
                            <!-- <input type="date" name="fecha_cutoff_fisico" id="fecha_cutoff_fisico" class="input" required> -->
                            <select id="id_sitio_inspeccion" name="id_sitio_inspeccion" class="input" required>
                                <option value="">Seleccione patio naviero</option>
                            </select>
                            <span>Patio Naviero (Retiro o Devolución)</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="full-width">
                            <textarea name="observaciones" cols="50" rows="5" placeholder="" class="input"></textarea>
                            <span>Observaciones</span>
                        </label>
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="submit">Enviar</button>
                    </div>
                    <p class="signin"><a href="#" onclick="history.back()">Volver</a></p>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/Componentes/sidebar.js"></script>
        <script src="/js/login/logout.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
        <script type="text/javascript" src="/js/solicitudes_service/create.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarClientes.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarNaviera.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarDestino.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>