<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    <style>
        .form-section {
            page-break-inside: avoid;
            margin-bottom: 0px;
            padding-bottom: 0;
            font-size: 12px;
        }
        
        .header-container {
            text-align: center;
            margin-bottom: 0px;
        }
        
        .header-info {
            display: inline-block;
            vertical-align: middle;
            margin-left: 110px;
            font-size: 10px;
            /* Ajusta el tamaño del texto según tus necesidades */
        }
        
        .form-control {
            margin-top: 0px;
            height: 30px;
            margin-bottom: 0px;
        }
        
        .form-label {
            height: 0px;
        }
        
        .ruta-container {
            color: #000;
            margin-top: 4px;
            display: flex;
            align-items: center;
            align-items: baseline;
        }
        
        .ruta-container label {
            margin-right: 10px;
            /* Ajusta según sea necesario */
        }
        
        .ruta-container select {
            flex-grow: 1;
        }
    </style>
</head>
<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>

<body>


    <div id="main-wrapper">
        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">ASIGNACIÓN CONTENEDORES</h1>
            </div>
        </div>

        <div class="margenform">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="container">
                    <!-- Hidden logo -->
                    <img id="logo" src="/img/logo.png" style="display:none;">
                    <div class="row">
                        <form id="saveAsignacion" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" id="id_contenedor" name="id_contenedor" class="form-control" readonly>
                                <input type="hidden" id="id_cliente" class="form-control" readonly>
                                <input type="hidden" id="imp_exp" class="form-control" readonly>
                                <div class="row form-section">

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="id_preventa" class="form-label">Placa</label>
                                            <input type="text" name="id_preventa" id="id_preventa" placeholder="Digite la placa">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="conductor" class="form-label">Conductor</label>
                                            <input type="text" id="conductor" class="form-control" readonly="readonly" required>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">Cedula</label>
                                            <input type="text" id="identificacion" class="form-control" readonly="readonly" required>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">Aliado</label>
                                            <input type="text" id="aliado" class="form-control" readonly="readonly" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-section">
                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">T.Contenedor</label>
                                            <input type="text" id="id_tipo_contenedor" class="form-control" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">Contenedor</label>
                                            <input type="text" id="nu_serie" class="form-control" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">Peso</label>
                                            <input type="text" id="peso" class="form-control" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="ruta-container">
                                            <label for="id_tipo_operacion" class="form-label">T.Operación</label>
                                            <select name="id_tipo_operacion" id="id_tipo_operacion" class="form-control" required>
                                            <option value="">Seleccione operación</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-section">
                                    <input type="hidden" class="form-control" id="celular" readonly="readonly" required>
                                    <div class="col-md-8">
                                        <div class="ruta-container">
                                            <label for="id_ruta" class="form-label">Ruta</label>
                                            <select name="id_ruta" id="id_ruta" class="form-control" required>
                                            <option value="">Seleccione la ruta</option>
                                        </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="ruta-container">
                                            <label for="id_sitio_inspeccion" class="form-label">Destino</label>
                                            <select name="id_sitio_inspeccion" id="id_sitio_inspeccion" class="form-control" required>
                                            <option value="">Seleccione destino</option>
                                        </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row form-section">




                                    <div class="col-md-4">
                                        <div class="ruta-container">
                                            <label for="" class="form-label">cliente</label>
                                            <input type="text" id="cliente" class="form-control" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="fecha_cita" class="form-label">Fecha</label>
                                            <input type="date" id="fecha_cita" name="fecha_cita" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="ruta-container">
                                            <label for="hora_cita" class="form-label">Hora</label>
                                            <input type="time" id="hora_cita" name="hora_cita" class="form-control">
                                        </div> <br><br>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ruta-container">
                                            <label for="tarifa1" class="form-label">Tarifa</label>
                                            <input type="text" id="tarifa1" class="form-control" readonly="readonly" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-section">
                                    <br><br>
                                    <div class="col-md-8">
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn btn-secondary" onclick="history.back()">Volver</button>
                                            <button type="submit" class="btn btn-primary" id="BtnSavetAsignacion">Guardar</button>
                                            <button class="btn btn-success" type="button" onclick="downloadPDF()">Generar PDF</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/Componentes/sidebar.js"></script>
        <script src="/js/login/logout.js"></script>
        <script src="/js/custom.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
        <script type="text/javascript" src="/js/asignacion/asigancion.js"></script>
        <script type="text/javascript" src="/js/asignacion/asignacionModal.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarDestino.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarRutaClientesV.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarPrevnetaClienteV.js"></script>
        <script type="text/javascript" src="/js/cargar/cargarTipoServicio.js"></script>
        <script type="text/javascript" src="/js/asignacion/pdf_genereta.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>