<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>

<body>


    <div id="main-wrapper">

        <div class="header">
            <div class="title-container">
                <div class="circle"></div>
                <h1 class="title">PENDIENTE POR FACTURAR</h1>
            </div>
        </div>




        <div class="margenform">
            <div id="content" class="p-4 p-md-5 pt-5">

                <div class="container-fluid">
                    <div class="row invoice-card-row">
                        <div class="col-xl-3 col-xxl-3 col-sm-6">
                            <div class="card bg-info invoice-card" id="total-abiertas-card">
                                <div class="card-body d-flex">
                                    <div class="icon me-3">
                                        <i class="fas fa-tasks fa-2x text-white"></i>
                                    </div>
                                    <div>
                                        <h2 class="text-white invoice-num" id="total-sp-por-facturar">0</h2>
                                        <span class="text-white fs-18">Total SP por facturar</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-xxl-3 col-sm-6">
                            <div class="card bg-info invoice-card">
                                <div class="card-body d-flex">
                                    <div class="icon me-3">
                                        <i class="fas fa-dollar-sign fa-2x text-white"></i>
                                    </div>
                                    <div>
                                        <h2 class="text-white invoice-num" id="valor-total-sp">0</h2>
                                        <span class="text-white fs-18">Valor Total SP por facturar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div id="contabilidad"></div>
                <div class="container"></div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>



    <script src="/js/custom.min.js"></script>

    <script src="/Componentes/sidebar.js"></script>
    <script src="/js/login/logout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script type="module" src="/js/contabilidad/contabilidad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>