<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodhus</title>
    <link rel="icon" href="/faviconN.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/pages.css" rel="stylesheet" />
    <link href="/css/style-Dash.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
</head>
<header>
    <img src="/img/nodhus.png" alt="Nodhus Logo" class="logo" id="nodhus-logo">

</header>
<div class="dlabnav">
    <div id="layout">

        <div class="dlabnav" id="sidebar">
            <div class="dlabnav-scroll sidebar-scroll">
                <ul class="metismenu" id="menu">
                    <li id="roles-container"></li>
                    <li id="menu-items-container"></li>
                    <nav>
                        <a href="javascript:void(0)" id="logout-button" class="logout-link" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-text">Cerrar Sesión</span>
                        </a>
                    </nav>
                </ul>

            </div>
        </div>
    </div>
</div>

<body>


    <div class="header">
        <div class="title-container">
            <h1 class="title">PENDIENTES DE PAGO</h1>
        </div>
    </div>

    <div class="margenform">
        <br>
        <div class="container-fluid">
            <div class="row invoice-card-row">
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card" id="total-abiertas-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <i class="fas fa-tasks fa-2x text-white"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num" id="total-abiertas">0</h2>
                                <span class="text-white fs-18">Total pendientes de pago</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="card bg-info invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon me-3">
                                <i class="fas fa-dollar-sign fa-2x text-white"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num" id="valor-total-abiertas">0</h2>
                                <span class="text-white fs-18">Valor total a pagar</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pendientePago"></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
        <script src="/Componentes/sidebar.js"></script>
        <script src="/js/login/logout.js"></script>
        <script type="text/javascript" src="/js/contabilidad/pendientePago.js"></script>
        <script type="text/javascript" src="/js/contabilidad/tablero_totalPG.js"></script>
        <script type="text/javascript" src="/js/contabilidad/actualizaPagado.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>